<div class="register-container">
    <div class="form-container">
        <div class="form-group">
            <label class="form-label" for="form-first-name">First name:</label>
            <div class="first-name-container">
                <input id="form-first-name" class="input input-first-name" type="text" [(ngModel)]="model.FirstName" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="form-last-name">Last name:</label>
            <div class="last-name-container">
                <input id="form-last-name" class="input input-last-name" type="text" [(ngModel)]="model.LastName" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="form-email">Email:</label>
            <div class="email-container">
                <input id="form-email" class="input input-email" type="email" [(ngModel)]="model.Email" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="form-password">Password:</label>
            <div class="password-container">
                <input id="form-password" class="input input-password" type="password" [(ngModel)]="model.Password" />
            </div>
        </div>

        <div class="button-join-container">
            <div class="footer-badge badge-button" (click)="handleJoin()">
                <span class="badge-text">
                    Enlist
                </span>
            </div>
        </div>

        <br>

        <div class="existing-account-container">
            <a routerLink="/users/login">Already a member? Great, jump right in!</a>
        </div>
    </div>
</div>