<div class="app-wrapper">
    <aside class="navigation-sidebar">
        <ul>
            <li class="link" routerLink='courses'>
                <span class="link-text">Courses</span>
            </li>
            <li class="link" *ngIf="isAdmin" routerLink='users'>
                <span class="link-text">Users</span>
            </li>
            <li class="link" *ngIf="!isAuthenticated" routerLink='users/join'>
                <span class="link-text">Join</span>
            </li>
            <li class="link" *ngIf="isAuthenticated" (click)="handleLogout()">
                <span class="link-text">Sign Out</span>
            </li>
        </ul>
        <div class="greeting-container" *ngIf="isAuthenticated">
            <span class="greeting-text">
                <i class="material-icons">
                    account_circle
                </i>
                {{user.FullName}}
            </span>
        </div>
    </aside>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>