<div class="card">
    <button *ngIf="!showForm" class="button button-add-course" (click)="handleCreateCourse()">+</button>
    <div *ngIf="showForm">
        <div class="card-header">
            <span class="header-text">{{courseModel.Title ? courseModel.Title : "(title)"}}</span>
        </div>
        <div class="card-body">
            <div class="form-container">
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input id="title" type="text" 
                        class="input"
                        [(ngModel)]="courseModel.Title" 
                        autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <input type="text" class="input" 
                        id="description" 
                        [(ngModel)]="courseModel.Description" 
                        autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="footer-badge badge-button" 
                (click)="handleSaveCourse()" 
                style="float: left">

                <span class="badge-text">Save</span>
            </div>
            <div class="footer-badge badge-button" 
                (click)="handleHideCreateCourseForm()" 
                style="float: right">
                
                <span class="badge-text">Back</span>
            </div>
        </div>
    </div>
</div>